{% extends 'base.html.twig' %}

{% block title %}Game of Thrones | {{ character.firstName ~ ' ' ~ character.lastName }}{% endblock %}

{% block body %}
    <section class="character-page">
        <div class="col-8">
            <h2>{{ character.firstName ~ ' ' ~ character.lastName }}</h2>
            <div class="bio">
                <h3>Biographie</h3>
                <p>{{ character.biography }}</p>
            </div>
        </div>
        <div class="col-4">
            <div class="avatar" style="background: {{ '#'~character.houses[0].colour }};">
                <img src="{{ asset('images/'~character.image) }}" alt="{{ character.firstName }}">
            </div>
            <div class="infos">
                <h3>Maisons</h3>
                <div class="houses">
                    <ul>
                        {% for house in character.houses %}
                            <li class="house-logo" style="background: {{ '#'~house.colour }};">
                                <a href="{{ path('app_house', { id: house.id }) }}">
                                    <img src="{{ asset('images/'~house.image) }}" alt="{{ house.name }}">
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="meta">
                    <li><span>Rang : </span> {{ character.title.name }}</li>
                    <li><span>Mère : </span>
                        {% if character.mother is not null %}
                            {{ character.mother.firstName ~ ' ' ~ character.mother.lastName }}
                        {% else %}
                            Non renseigné
                        {% endif%}
                    </li>
                    <li><span>Père : </span>
                        {% if character.father is not null %}
                            {{ character.father.firstName ~ ' ' ~ character.father.lastName }}
                        {% else %}
                            Non renseigné
                        {% endif%}
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
